<ion-content no-padding class="getstart" color="medium">
  <div id="contenedor">
    <ion-img src="assets/imagenes/logo.png" id="logo"></ion-img>
  </div>
  <ion-grid class="center-form">
    <ion-row justify-content-center>
      <ion-col size-xs="11" size-md="6" size-lg="3">
        <div>
          <form [formGroup]="loginForm">
            <ion-item color="medium">
              <ion-label position="floating" >Correo</ion-label>
              <ion-input formControlName="correo"></ion-input>
            </ion-item>
            <ion-item color="medium">
              <ion-label position="floating">Contraseña</ion-label>
              <ion-input formControlName="cedula" type="password"></ion-input>
            </ion-item>
            <ion-button expand="block" color="warning" margin-top [disabled]='!loginForm.valid' (click)="login()">INGRESAR</ion-button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>